*/work
*/vsim.wlf
*/test.v:Zone.Identifier
*/modelsim.ini

*/wlft*

TSClab3*/lab01_testbench-interface/tb_ifc.sv
TSClab3*/lab01_testbench-interface/run.f
TSClab3*/test/Readme.txt


TSClab3_tema/lab01_testbench-interface/expected.log
TSClab3_tema/mylog.txt