*/work
*/vsim.wlf
*/test.v:Zone.Identifier
*/modelsim.ini
sim
transcript
vish_stacktrace.vstf

*/wlft*


TSClab3_tema/lab01_testbench-interface/tb_ifc.sv
TSClab[1-5]/lab01_testbench-interface/tb_ifc.sv
*/lab01_testbench-interface/run.f
*/test/Readme.txt
*.zip*

TSClab3_tema/lab01_testbench-interface/expected.log
TSClab3_tema/mylog.txt