*/work
*/vsim.wlf
*/test.v:Zone.Identifier
*/modelsim.ini
sim
transcript
vish_stacktrace.vstf

*/wlft*

*/lab01_testbench-interface/tb_ifc.sv
*/lab01_testbench-interface/run.f
*/test/Readme.txt

TSClab3_tema/lab01_testbench-interface/expected.log
TSClab3_tema/mylog.txt